button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main-button,.transparent-btn, .cta-btn, .wp-block-button {
    a,input,div,.wp-block-file__button {
        &[target=_blank], &[href$=".pdf"],&[href$=".doc"]{
            &:after{
                font-family: "icomoon";
                content: "\e907";
                position: relative;
                margin-left: 15px;
                display: inline-block;
                font-size: 16px;
                @include transition($basicTransition);
                color: white;
            }

            &:hover{
                &:after{
                    color: $blue;
                }
            }
        }

        &[href$=".pdf"],&[href$=".doc"], &[download]{
            &:after{
                content: "\e90b";
            }
        }
    }
}

.main-button {
    @include flex();
    @include responsive-font($primaryFont, 600, 16, 18, 18, 20, null, null);
    @include transition($basicTransition);
    padding-top: clamp-calc(6, 15);
    padding-bottom: clamp-calc(6, 15);
    padding-right: clamp-calc(20, 30);
    padding-left: clamp-calc(20, 30);
    border-radius: 8px;
    min-height: 60px;
    text-align: center;

    i {
        margin-left: 10px;
    }

    &.-blue {
        background-color: $blue;
        color: white;

        &:hover {
            background-color: darken($blue, 20%);
        }
    }

    &.-white {
        background-color: white;
        color: $blue;

        &:hover {
            background-color: $blue;
            color: white;
        }
    }
}

.secondary-button {
    @include flex(center, center);
    padding: 10px 20px;
    border-radius: 20px;
    gap: 10px;
    @include responsive-font($primaryFont, 500, 14, 16, 17, 19);
    cursor: pointer;
    @include transition($basicTransition);
    text-align: center;

    &.-grey {
        background-color: $mainBG;

        &:hover {
            background-color: $darkBlue;
            color: white;

            i {
                @include transition($basicTransition);
                color: $yellow;
            }
        }

        i {
            font-size: 12px;
            color: $blue;
        }
    }
}

.arrow-button {
    a {
        display: inline-block;
        padding: 35px 40px;
        background-color: white;
        width: 100%;
        border-radius: 12px;
        @include flex(center, space-between);
        @include responsive-font($primaryFont, 500, 18, 22, 22, 26);

        &::after {
            font-family: "icomoon";
            content: "\e900";
            position: relative;
            margin-left: 15px;
            display: inline-block;
            font-size: 40px;
            right: 0;
            @include transition($basicTransition);
            color: $darkBlue;
        }
    }

    &.-white {

        &:hover {
            a {
                background-color: $blue;
                color: white;

                &::after {
                    right: -10px;
                    color: white;
                }
            }
        }

    }
}

.intern-button {
    @include flex(center, flex-start);
    @include responsive-font($primaryFont, 500, 20, 22, 24, 26);

    &::before {
        font-family: "icomoon";
        content: "\e90c";
        position: relative;
        margin-left: 15px;
        display: inline-block;
        color: $blue;
        margin-right: 15px;
        position: relative;
        left: 0;
        @include transition($basicTransition);
    }

    &:hover {

        &::before {
            left: 8px;
        }
    }
}

.button-previous,
.button-next {
    width: clamp-calc(40, 80);
    height: clamp-calc(40, 80);
    border-radius: 50%;
    opacity: 1;
    @include transition($basicTransition);
    background-color: white;
    color: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    transform: scale(1);

    &:hover {
        transform: scale(1.1);
    }
}

.button-previous {
    i {
        transform: rotate(180deg);
    }

    &.disabled {
        opacity: 0.3;

        &:hover {
            transform: scale(1);
            cursor: default;
        }
    }
}

#clear-filters {
    @include responsive-font($primaryFont, 600, 15, 18, 15, 18, null, null, $blue);

    &::before {
        content: "\e914";
        font-family: 'icomoon' !important;
        margin-right: 10px;
        font-size: 12px;
        display: inline-block;
        @include transition($basicTransition);
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}