button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main-button {
    @include flex();
    @include responsive-font($primaryFont, 600, 16, 18, 18, 20, null, null);
    padding: 8px 16px;
    border-radius: 8px;
    min-height: 60px;
    @include transition($basicTransition);

    i {
        margin-left: 10px;
    }

    &.-blue {
        background-color: $blue;
        color: white;

        &:hover {
            background-color: darken($blue, 20%);
        }
    }
}