button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main-button,.transparent-btn, .cta-btn, .wp-block-button {
    a,input,div,.wp-block-file__button {
        &[target=_blank], &[href$=".pdf"],&[href$=".doc"]{
            &:after{
                font-family: "icomoon";
                content: "\e907";
                position: relative;
                margin-left: 15px;
                display: inline-block;
                font-size: 16px;
                @include transition($basicTransition);
                color: white;
            }

            &:hover{
                &:after{
                    color: $blue;
                }
            }
        }

        &[href$=".pdf"],&[href$=".doc"], &[download]{
            &:after{
                content: "\e90b";
            }
        }
    }
}

.main-button {
    @include flex();
    @include responsive-font($primaryFont, 600, 16, 18, 18, 20, null, null);
    @include transition($basicTransition);
    padding-top: clamp-calc(6, 15);
    padding-bottom: clamp-calc(6, 15);
    padding-right: clamp-calc(20, 30);
    padding-left: clamp-calc(20, 30);
    border-radius: 8px;
    min-height: 60px;
    text-align: center;

    i {
        margin-left: 10px;
    }

    &.-blue {
        background-color: $blue;
        color: white;

        &:hover {
            background-color: darken($blue, 20%);
        }
    }

    &.-white {
        background-color: white;
        color: $blue;

        &:hover {
            background-color: $blue;
            color: white;
        }
    }
}