html {
	scroll-behavior: smooth;
	scroll-padding-top: 170px;
}

body{

	&.no-scroll{
		height: 100%;
  		width: 100%;
	}
}

// Mixin template : $font-family, $font-style, $font-weight, $min-font-size, $max-font-size, $min-line-height, $max-line-height, $text-transform: null, $letter-spacing: null, $color: $darkBlue

h1 {	
	&.large {
		@include responsive-font($primaryFont, 700, 52, 120, 52, 140, uppercase);
	}

	&.small {
		@include responsive-font($primaryFont, 700, 40, 80, 45, 80, null, -0.03em);
	}
}

h2 {
	&.large {
		@include responsive-font($primaryFont, 700, 32, 58, 36, 60, uppercase);
	}
}

h3 {
	&.large {
		@include responsive-font($primaryFont, 400, 25, 35, 26, 40, none);
	}
}
  
p {
	&.small {
		@include responsive-font($secondaryFont, 400, 16, 18, 22, 25, null, -0.01em);
	}
}

b, strong{
	font-weight: 700;
}

a {
	transition: $basicTransition;
	text-decoration: none;
}

.page-content {
	padding-top: clamp-calc(80, 120);
    padding-bottom: clamp-calc(90, 110);
}

.jsBlockLink {
	cursor: pointer;
}

.bottom-decoration {
	font-weight: 700;
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	padding-bottom: 15px;
}

.background-line {
	font-weight: 700;
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	display: inline-block;
	background-size: contain;

	&.-red {
		background-image: url('/assets/images/brush-red.svg');
	}

	&.-green {
		background-image: url('/assets/images/brush-green.svg');
	}

	&.-green-alternative {
		background-image: url('/assets/images/brush-green-alternative.svg');
	}
}

.cirle-center-background {
	position: relative;
    display: inline-block;
    z-index: 1;
	
	&.-yellow::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: -20px;
		bottom: -10px;
		background: url('/assets/images/yellow-circles.svg') no-repeat;
		background-size: contain;
	}
}