<div class="activities-filters">
    <form id="ajax-form" class="activities-form">
        <input type="hidden" id="ajax-settings" data-url="/ajax/activities">
        <div class="button-previous" id="button-previous" data-previous-date="{{ prevDate }}" tabindex="0"><i class="icon-simple-arrow-right"></i></div>
        <label for="date" class="checkbox-ctn month">
            <span id="date-label">{{ month }}</span>
            <input type="checkbox" id="date" data-name="date" name="date" value="{{ date }}">
        </label>
        <div class="button-next" id="button-next" tabindex="0"><i class="icon-simple-arrow-right"></i></div>
    </form>
</div>
