<div class="list-items-ajax" id="resultsList">
    <div class="container">
        <div id="ajax-content">
            <div id="display-filters"></div>
            <div class="inner">
                {% if items is empty %}
                    {% include 'partials/ajax/no-result-item.twig' %}
                {% else %}
                    {% if addSearch %}
                        {% include 'partials/lists/addsearch-card-list.twig' %}
                    {% elseif activities %}
                        {% include 'partials/lists/activities-list.twig' %}
                    {% else %}
                        {% include 'partials/lists/basic-card-list.twig' with {
                            'items': resources
                        } %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if activities == false %}
		    {% include 'partials/lists/pagination.twig' %}
        {% endif %}
    </div>
</div>