<div class="no-results" data-aos="fade" data-aos-delay="300">
    {% if activities %}
        <h3>{{ __('Il n\'y a pas d\'activité ce mois-ci', 'ismees') }}</h3>
    {% else %}
        <h3>{{ __('Aucun résultat trouvé', 'ismees') }}</h3>
    {% endif %}
</div>