<div class="addsearch-card-list-ctn">
    {% for item in items %}
       
        {% include "partials/cards/addsearch-card.twig" %}
         <pre>
            {{ dd(item) }}
        </pre>
    {% endfor %}
</div>