<nav data-aos="fade" data-aos-delay="300" id="ajax-pagination" class="pagination-ctn">
    <div class="ajax-page next" id="next-page">
        <a href="" value="next" class="{{ pages or pages and pages|length != params['pagenb'] ? '' : 'disabled' }} main-button -white ">{{ __('Afficher plus', 'ismees') }}</a>
    </div>
</nav>