#searchContainer {
    max-width: 800px;
    margin: 50px auto 0;
    position: relative;

    &.-show {
        
        .input-ctn {
            border-radius: 40px 40px 0 0;
        }

        #searchResult {
            max-height: 500px;
            overflow-y: scroll;
            opacity: 1;
            pointer-events: initial;
            border-radius: 0 0 40px 40px;
            border-top: 1px solid $lightBlue;
            box-shadow: 0px 0px 100px rgba(36, 36, 87, 0.15);
        }
    }

    .input-ctn {
        width: 100%;
        position: relative;
        background-color: white;
        padding: 30px 40px;
        border-radius: 40px;
        @include transition($basicTransition);

        &:after{
            font-family: "icomoon";
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            content: "\e904";
            font-size: 32px;
        }

        input[type="text"]  {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            background-color: transparent;
            @include responsive-font($primaryFont, 400, 22, 30, 26, 34, null, null, $darkBlue);

            &::placeholder {
                @include responsive-font($primaryFont, 400, 22, 30, 26, 34, null, null, $darkBlue);
            }
        }
    }

    #searchResult {
        position: absolute;
        opacity: 0;
        margin: 0;
        padding: 0 40px 20px;
        background-color: white;
        max-height: 0;
        @include transition($basicTransition);
        right: 0;
        left: 0;
        top: 100%;
        pointer-events: none;

        .result {
            margin: 30px 0;

            .hightlight {
                font-weight: 700;
            }

            a {
                @include responsive-font($primaryFont, 400, 20, 24, 21, 25);
            }
        }

        .searchNoResult {
            margin: 30px 0;
            @include responsive-font($primaryFont, 400, 20, 24, 21, 25);
        }

    }
}