.dropdown-filters {
    position: relative;
    background-color: transparent;
    display: flex;
    z-index: 10;

  .filter-button {
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    @include responsive-font($primaryFont, 500, 16, 18, 20, 20);
    color: $darkBlue;
    border: 2px solid $darkBlue;
    border-radius: 8px;
    background-color: transparent;
    @include transition($basicTransition);
    min-width: 290px;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: rgba($darkBlue, 0.2);
    }

    &::after {
        content: "\e901";
        font-family: 'icomoon' !important;
        margin-left: 10px;
        transform: rotate(90deg);
        font-size: 15px;
        display: inline-block;
        @include transition($basicTransition);
        color: $darkBlue;
    }
  }

  .filter-ctn {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 104%;
    left: 0;
    pointer-events: none;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 418px;
    @include transition($basicTransition);
    padding: 20px;
    @include flex(flex-start, flex-start, column);
    gap: 10px;


    img {
      width: 32px;
      object-fit: contain;
    }

    .filter-item {

      &:last-child {
        .checkbox-ctn {
          border: none;
        }
      }

      .checkbox-ctn {
        position: relative;
        cursor: pointer;
        @include flex(center, flex-start);
        padding-left: 40px;
        @include responsive-font($secondaryFont, 400, 16, 18, 20, 20, null, -0.01rem);

        .card-icon {
          margin-right: 10px;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          height: 20px;
          width: 20px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $darkBlue;

          &::after {
            font-family: 'icomoon' !important;
            content: "\e90e";
            position: absolute;
            display: none;
            color: white;
            font-size: 12px;
          }
        }

        input:checked ~ .checkmark {
          background-color: $blue;
          border: none;

          &::after {
            display: block;
          }
        }
      }
    }
  }

  &.-show {
    z-index: 11;

    .filter-ctn {
      opacity: 1;
      max-height: 320px; 
      pointer-events: initial;
      overflow-y: scroll;
    }

    .filter-button {
  
      &::after {
          transform: rotate(-90deg);
      }
    }
      
  }

  @media(max-width: 767px) {
    .filter-button {
      width: 290px;
    }

    .filter-ctn {
      left: 0;
      width: 290px;
    }
  }

  @media(max-width: 500px) {    
    width: 100%;
    
    .filter-button {
      width: 100%;
    }

    .filter-ctn {
      left: 0;
      right: 0;
      width: 100%;
    }
  }

}
