<div data-aos="fade" data-aos-delay="300" class="breadcrumb-ctn {{ reverseBreadscrum ? '-reverse' : '' }}">
    {{ function('yoast_breadcrumb', '<nav id="breadcrumbs" title="' ~ __('Breadcrumb', 'ismees') ~ '"  class="main-breadcrumbs">','</nav>', false ) }}
</div>