<div data-aos="fade-right" data-aos-delay="300" class="breadcrumb-ctn">
    <div class="container-fluid">
        {{ function('yoast_breadcrumb', '<nav id="breadcrumbs" title="' ~ __('Breadcrumb', 'ismees') ~ '"  class="main-breadcrumbs">','</nav>', false ) }}
    </div>
</div>