{% if items|length > 0 %}
<div class="horizontal-multiple-slider {{ title ? '--with-title' : '' }}" data-aos="fade-up" data-aos-delay="300">
    
    {% if title %}
        <div class="title-ctn">
            <h3 data-aos="fade-left" data-aos-delay="400">{{title}}</h3>
        </div>
    {% endif %}
    <div class="horizontal-multiple-slider">
        <input type="hidden" class="settings" data-spacing="40">
        <!-- Slider main container -->
        
        <div class="swiper-button-prev prev button-previous"><i class="icon-simple-arrow-right"></i></div>
        <div class="swiper-button-next next button-next"><i class="icon-simple-arrow-right"></i></div>
        
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for item in items %}
                    <div class="swiper-slide">
                        {% include 'partials/cards/slider-card.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
