{# It takes Items value from parent page #}

<div id="resources" class="more-resources" data-aos="fade-up" data-aos-delay="300">
    <div class="container">
        <h2 class="resources-title" data-aos="fade-right" data-aos-delay="500">{{ __('Ressources utiles ', 'ismees')}} <span class="bottom-decoration">{{ __(' à découvrir', 'ismees')}}</span></h2>
        {% include "partials/lists/basic-card-list.twig" %}
        <div class="button-ctn" data-aos="fade-up" data-aos-delay="500">
            <a class="main-button -blue" href="{{ redirectionUrl }}">{{ __('Consulter toutes les ressources', 'ismees')}}</a>
        </div>
    </div>
</div>