.activity-card {
    background-color: white;
    border-radius: 30px;
    padding: 50px 30px;

    .day, 
    .month-year {
        @include responsive-font($primaryFont, 600, 14, 18, 15, 18, uppercase);
        text-align: center;
        margin: 0;
    }

    .day-number {
        @include responsive-font($primaryFont, 800, 46, 75, 54, 88, null, null, $purple);
        text-align: center;
        margin: 10px 0;
    }

    .card-title {
        margin-top: 0;
        margin-bottom: clamp-calc(20, 30);
    }

    .card-excerpt {
        @include responsive-font($secondaryFont, 400, 16, 18, 24, 25, null, -0.01rem, rgba($darkBlue, 0.7));
        margin-top: 0;
        margin-bottom: clamp-calc(20, 30);
    }

    .card-ctas {
        @include flex(center, flex-start);
        gap: clamp-calc(10, 20);
    }
}