.addsearch-card-ctn {
    @include flex(center, flex-start);
    gap: clamp-calc(20, 60);
    position: relative;
    background-color: white;
    border-radius: 18px;
    padding: clamp-calc(20, 24, 767, 992);

    .card-title,
    .card-image-ctn,
    .card-taxonomies-ctn {
        z-index: 5;
    }

    .card-image-ctn {
        @include flex();
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        min-width: 30%;
        width: 30%;
        background-color: $darkBlue;

        .card-image {
            height: clamp-calc(200, 300);
            width: 100%;
            opacity: 0.5;
            object-fit: cover;
            border-radius: 8px;
            @include transition($basicTransition);
        }


        .card-type {
            position: absolute;
            bottom: clamp-calc(14, 20);
            left: clamp-calc(14, 20);
            z-index: 6;
            border-radius: 100px;
            @include flex(center, flex-start);
            background-color: $yellow;
            border-radius: 100px;
            gap: 5px;
            @include transition($basicTransition);
            max-width: clamp-calc(42, 60);
            min-width: clamp-calc(42, 60);
            max-height: clamp-calc(42, 60);
            min-height: clamp-calc(42, 60);
        }

        .card-icon-ctn {
            max-width: clamp-calc(42, 60);
            min-width: clamp-calc(42, 60);
            max-height: clamp-calc(42, 60);
            min-height: clamp-calc(42, 60);
            padding: 10px;
            @include flex();

            .card-icon {
                width: 80%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-type-name {
            @include flex();
            opacity: 0;
            padding: 10px 15px 10px 0;
            text-transform: uppercase;

            p {
                @include responsive-font($primaryFont, 600, 13, 15, 13, 15, null, null);
            }
        }
    }

    .card-taxonomies-ctn {
        @include flex(center, flex-start);
        flex-wrap: wrap;
        gap: 5px 20px;
        z-index: 5;
        margin-top: 40px;

        .card-taxonomy {
            display: flex;
            align-items: center;
            @include responsive-font($primaryFont, 600, 13, 14, 15, 17, null, null, rgba($darkBlue, 0.7));
            text-transform: uppercase;
            position: relative;
            margin: 0;

            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: rgba($darkBlue, 0.7);
                right: -10px;
                top: 50%;
                transform: translate(50%, -50%);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    .card-title {
        @include responsive-font($primaryFont, 400, 25, 35, 26, 40);
        display: inline-block;
        margin: 0 0 20px;

        &:hover {
            color: $darkBlue;
        }
    }

    .card-highlight {
        @include responsive-font($secondaryFont, 400, 16, 18, 24, 25, null, null, rgba($darkBlue, 0.7));
        margin: 0;

        em {
            font-weight: 900;
        }
    }

    &:hover {
        .card-image-ctn {
    
            .card-image {
                opacity: 1;
            }

            .card-type {
                max-width: 80%;

                .card-type-name {
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out 0.2s;
                }
            }
        }
    }

    @media(max-width: 767px) {
        @include flex(flex-start, flex-start, column);

        .card-image-ctn {
            width: 100%;
        }

        .card-taxonomies-ctn {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .card-description {
            @include flex(flex-start, flex-start, column-reverse);
        }

        .card-highlight {
            margin-bottom: 0;
        }
    }
}