.addsearch-card-ctn {
    @include flex(center, flex-start);
    gap: clamp-calc(20, 60);
    position: relative;
    background-color: white;
    border-radius: 18px;

    .card-title,
    .card-image-ctn,
    .card-taxonomies-ctn {
        z-index: 5;
    }

    .card-image-ctn {
        @include flex();
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        padding: 24px 0 24px 24px;
        width: 30%;

        .card-image {
            height: clamp-calc(200, 300);
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            @include transition($basicTransition);
        }


        .card-icon-ctn {
            position: absolute;
            background-color: $yellow;
            width: clamp-calc(42, 60);
            height: clamp-calc(42, 60);
            border-radius: 50%;
            padding: 10px;
            bottom: clamp-calc(28, 40);
            left: clamp-calc(28, 40);
            z-index: 6;

            .card-icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-type {
            position: absolute;
            @include position(0, 0, 0, 0);
            @include transition($basicTransition);
            @include flex();
            margin: 24px 0 24px 24px;
            text-align: center;
            opacity: 0;
            background-color: $darkBlue;

            p {
                @include responsive-font($primaryFont, 500, 18, 22, 24, 28, null, null, white);
            }
        }
    }

    .card-taxonomies-ctn {
        @include flex(center, flex-start);
        flex-wrap: wrap;
        gap: 5px 15px;
        z-index: 5;

        .card-taxonomy {
            display: flex;
            align-items: center;
            @include responsive-font($primaryFont, 600, 13, 14, 15, 17, null, null, rgba($darkBlue, 0.7));
            text-transform: uppercase;
            position: relative;
            margin: 0;

            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: rgba($darkBlue, 0.7);
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    .card-title {
        @include responsive-font($primaryFont, 400, 25, 35, 26, 40);
        display: inline-block;
        margin: 0 0 20px;

        &:hover {
            color: $darkBlue;
        }
    }

    .card-highlight {
        @include responsive-font($secondaryFont, 400, 16, 18, 24, 25, null, null, rgba($darkBlue, 0.7));
        margin-top: 0;
        margin-bottom: 40px;
    }

    &:hover {
        .card-image-ctn {
    
            .card-image {
                opacity: 1;
            }
            .card-type {
                opacity: 1;
                border-radius: 12px;
            }
        }
    }

    @media(max-width: 767px) {
        @include flex(flex-start, flex-start, column);

        .card-image-ctn {
            padding: 24px 20px 0 20px;
            width: 100%;
        }

        .card-taxonomies-ctn {
            margin-bottom: 20px;
        }

        .card-description {
            @include flex(flex-start, flex-start, column-reverse);
            padding: 0 20px 24px;
        }

        .card-highlight {
            margin-bottom: 0;
        }
    }
}