body.page-template-front-page {

     //**************************************************//
    // MAIN CONTENT
    //**************************************************//
    .page-content {
        
        padding-bottom: clamp-calc(45, 110);
        padding-top: 0;

        .ctas-section {
            display: flex;
            padding-bottom: 160px;
            width: 100%;

            //***** CODE FOR BOTH COLUMNS CTA ******//

            .home-cta {
                width: 50%;
                @include transition($basicTransition);
            }

            //******* CODE FOR PER COLUMN CTA *******//

            .section-1 {
                background-color: $yellow;
                border-radius: 60px 0px 0px 60px;

                .img-ctn {
                    img {
                        width: clamp-calc(120, 180, 992);
                    }
                }
            }

            .section-2 {
                background-color: $darkBlue;
                border-radius: 0px 60px 60px 0px;

                .section-content {

                    .title {
                        color: $salmon;
                    }

                    .introduction {
                        color: white;
                    }
                }

                .img-ctn {
                    img {
                        width: clamp-calc(120, 180, 992);
                    }
                }
            }
        }

        .resources-ctn {
            @include flex(center, space-between);
            padding-bottom: clamp-calc(60, 80);
            gap: 57px;

            .resources-title {
                @include flex(flex-start, flex-start, column);
                margin: 0;
                @include responsive-font($primaryFont, 400, 35, 58, 40, 63);

                .cirle-center-background::before {
                    top: -5px;
                    right: -50px;
                    bottom: -20px;
                    left: -20px;
                }   
            }

            .resources-ctas {
                a:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media(max-width: 992px) {
        .page-content {

            .resources-ctn {
                @include flex(flex-start, flex-start, column);
            }
        }
    }

    @media(max-width: 767px) {

        .page-content {

            .ctas-section {
                @include flex(center, center, column);

                 //CODE PER COLUMN CTA

                 .section-1 {
                    border-radius: 0;
                }

                .section-2 {
                    border-radius: 0;
                }

                .home-cta {
                    width: 100%;
                }
            }
        }
    }
}