.page-template-hub {

    .hub {
        padding-bottom: 100px;
        background-color: $mainBG;

        .subjects-ctn {
            padding-top: 50px;
            @include sectionSeparator();
        }

        .hub-footer {
            padding-top: 50px;
        }
    }

    @media(min-width: 993px) {

        #header.-not-sticky {
            
            #secondary-menu .header-cta a {
                background-color: $purple;
                color: white;
        
                &:hover {
                    background-color: white;
                    color: $purple;
                }
            }
        }
    }

    @media(max-width: 992px) {
        .hub {
            .subjects-ctn {
    
                .subject {
                    @include flex(flex-start, space-between, row);
                    gap: clamp-calc(20, 100, 375, 992);
                    padding-right: 0;
                    padding-left: 0;
                    margin-left: 20px;
                    margin-right: 20px;

                    .content-ctn {
                        @include flex(flex-start, space-between, column);
                    }
    
                    .image-ctn {
                        opacity: 1;
                        display: flex;
                        position: initial;
                        transform: translateY(0);
                    }

                    &__title, &__excerpt {
                        width: 100%;
                    }
    
                    &__title {
                        font-weight: 700;
                        margin: 0;
                    }

                    i {
                        display: none;
                    }
                }
            }
        }
    }
}