body.page-template-research {
    background-color: $paleBlue;
    position: relative;

    .search-header {
        @include flex(center, center, column);
        padding-top: clamp-calc(240, 271);
        position: relative;

        .page-title {
            margin: 0 auto;
            text-align: center;
        }

        &::after {
            content: '';
            position: absolute;
            background: url('/assets/images/research/green-loop-arrow.svg') no-repeat center;
            background-size: contain;
            top: 50%;
            right: 15%;
            width: clamp-calc(130, 245);
            height: 205px;
        }
    }

    .list-items-ajax {
        background-color: transparent;
        padding-top: clamp-calc(40, 65);

        .inner {
            row-gap: 30px;
        }
    }

    .search-input-ctn {
        margin-top: clamp-calc(55, 60);
        margin-bottom: clamp-calc(30, 135, 375, 992);
    }

    @media(max-width: 992px) {
        .search-header {
    
            &::after {
                top: 30%;
            }
        }
    }
}