body.page-template-research {
    background-color: $paleBlue;

    .search-header {
        @include flex(center, center, column);
        padding-top: clamp-calc(240, 271);
        position: relative;

        .page-title {
            margin: 0;
        }

        &::after {
            content:"";
            background-image: url('/assets/images/research/green-loop-arrow.svg');
            position: absolute;
        }
    }

    .search-input-ctn {
        margin-top: clamp-calc(55, 60);
        margin-bottom: clamp-calc(30, 135, 375, 992);
    }
}