.single-subject {
    background-color: $mainBG;

    .banner-image-title {
        position: relative;
    }

    .bottom-decoration {
        background-image: url('/assets/images/wave-salmon.svg');
    }
}