body.thematic-template-default {
    background-color: $mainBG;

    .banner-image-title {
        background-color: $darkBlue;

        .banner-content-ctn {
            
            .ontitle-title {
                color: white;
            }

            .title-ctn {
                .page-title {
                    color: white;
                    margin-bottom: 0;
                }
            }
    
            .banner-image {
                border-radius: 24px;
            }
        }
    }

    .bottom-decoration {
        background-image: url('/assets/images/wave-green.svg');
    }

    @media(min-width: 993px) {

        #header.-not-sticky {

            #secondary-menu  {

                .header-cta {
                    a {
                        background-color: var(--button-color);;
                        color: $darkBlue;
                
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }   
        }
    }

    @media(min-width: 768px) {

        #header.-not-sticky {

            #header-mobile {

                .secondary-mobile .header-cta a {
                    background-color: var(--button-color);
                    color: $darkBlue;
            
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        
        }
    }
}