#primary-menu {
    display: flex;
    gap: clamp-calc(20, 60, 992, 1400);
    padding: 0;
    margin: 0;

    .header-arrows {
        position: absolute;
        top: 0;
        transform: translateX(-100%);
    }

    .main-item {
        min-height: 120px;
    }

    .menu-item {
        display: flex;
        
        a {
            display: flex;
            align-items: center;
            @include transition($basicTransition);
            @include responsive-font($primaryFont, 500, 22, 22, 26, 26);

            i {
                font-size: 12px;
                margin-right: 10px;
                transform: rotate(0);
                color: $blue;
                @include transition($basicTransition);
            }

            &:hover {
                color: $blue;
            }
        }
    }

    .menu-item-has-children {   

        .child-menu {
            @include transition($basicTransition);
            transform: scaleY(0);
            transform-origin: top;
            @include position(100%, 0, null, 0);
            position: absolute;
            width: 100%;
            z-index: 1000;
            padding: 50px 30px 80px;
            padding-left: clamp-calc(35, 60);
            background-color: white;

            .header-arrows {
                opacity: 0;
            }

            li {
                margin-top: 15px;
                margin-bottom: 15px;
                opacity: 0;

                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .subItem {

                &.has-sub-child {
                    display: flex;
                    flex-direction: column;
                    margin-right: clamp-calc(20, 50);
                    margin-top: 0;
                    margin-bottom: 0;
                    flex: 1;

                    .has-sub-child-title {
                        @include responsive-font($primaryFont, 700, 18, 20, 21, 24, uppercase, null, $purple);
                        margin-bottom: clamp-calc(20, 40, 1280);
                        cursor: default;
                    }
                }
            
                a {
                    @include responsive-font($primaryFont, 400, 17, 20, 21, 24);
                    transition: $basicTransition;
                }
            }
        }

        .has-child-link {
            display: flex;
            align-items: center;            
        }

        &.-active {
            pointer-events: none;
        }

        &:hover, 
        &:focus-within {

            .has-child-link {       
                color: $blue; 

                i {
                    transform: rotate(-90deg);
                }
            }

            .child-menu {
                transform: scaleY(1);
                z-index: 1100;

                li,
                .header-arrows {
                    opacity: 1;
                }
            }
        }
    }

    @media(max-width: 1440px) {

        .menu-item {
            a {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    @media(max-width: 1280px) {
        flex-wrap: wrap;
        gap: 0;

        .menu-item {
            a {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .header-arrows {
            display: none;
        }

        .main-item {
            border-bottom: 1px solid $lightBlue;
            padding-bottom: 20px;
            margin-bottom: 40px;
        }

        .menu-item-has-children {   
            display: flex;
            flex-direction: column;
            width: 100%;

            .has-child-link {
                margin-bottom: 25px;
                cursor: default;
                color: $purple !important;
                font-weight: 500;
                font-size: 22px;

                i {
                    display: none;
                }
            }

            .child-menu {
                gap: 0;
                @include flex(flex-start, flex-start, column);
                background-color: transparent;
                opacity: 1;
                padding: 0;
                transform: scaleY(1);
                position: initial;
                @include transition($basicTransition);

                li {
                    margin-top: 0;
                    opacity: 1;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .subChild-menu {
                max-height: 0;
                overflow: hidden;
                @include transition($basicTransition);
    
                .lastItem:last-child {
                    margin-bottom: 20px;
                }
            }

            .subItem.has-sub-child .has-sub-child-title {
                color: $blue !important;
                font-size: 18px;
                line-height: 22px;
                @include flex(center, space-between);
                cursor: pointer !important;

                &::after {
                    font-family: "icomoon";
                    content: "\e901";
                    position: relative;
                    display: inline-block;
                    font-size: 14px;
                    transform: rotate(90deg);
                    @include transition($basicTransition);
                    color: $blue;
                    @include transition($basicTransition);
                }

                &.-show {
                    &::after {
                        transform: rotate(270deg);
                    }
                }
            }

            .subItem a {
                font-size: 18px;
            }
        }
    }
}