#secondary-menu {
    @include flex(center, flex-end);

    .header-secondary-links {
        @include flex();

        .header-search {
            margin-right: clamp-calc(20, 35, 992, 1400);
            position: relative;

            i {
                font-size: 22px;
                @include transition($basicTransition);
            }

            .search-label {
                position: absolute;
                top: 140%;
                left: 50%;
                transform: translateX(-50%);
                background-color: $blue;
                padding: 5px 10px;
                color: white;
                @include responsive-font($primaryFont, 400, 13, 13, 15, 15);
                border-radius: 8px;
                text-align: center;
                opacity: 0;
                pointer-events: none;
                @include transition($basicTransition);
            }

            &:hover {

                i {
                    transform: scale(1.2);
                }

                .search-label {
                    opacity: 1;
                }
            }
        }

        .main-item {
            margin-right: clamp-calc(15, 30, 992);
            text-align: center;
        }

        .main-item,
        .header-search {
            display: flex;
        }

        .main-item a {
            @include responsive-font($primaryFont, 400, 14, 16, 17, 19, none, -0.03em);
        }
    }

    .menu-items {
        @include flex();
    }

    @media(max-width: 1280px) {
        @include flex(flex-start, flex-start, column-reverse);
        gap: 30px;

        .menu-items {
            @include flex(flex-start, flex-start, column);
            gap: 20px;
        }

        .header-secondary-links {
            @include flex(flex-start, flex-start, column);
            gap: 30px;

            .header-search {
                display: none;
            }
        }
    }
}