<div class="card-ctn">
    <div class="image-ctn">   
        <img src="{{ item.thumbnail.src }}" alt="{{ __('Photo de', 'ismées') ~ item.title }}" />
    </div>
    <p class="card-title">{{ item.title }}</p>
</div>