<div class="image-link-card jsBlockLink">
    {% if item.image.url %}
        <div class="image-ctn">
            <img class="card-image" src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
        </div>
    {% endif %}
    {% if item.name or item.website %}
        <a class="card-link" href="{{ item.website }}" target="_blank">{{ item.name }}</a>
    {% endif %}
</div>