<div class="image-link-card jsBlockLink">
    <div class="image-ctn">
        <img class="card-image" src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
    </div>
    <a class="card-link" href="{{ item.website }}">{{ item.name }}</a>
</div>