.banner-image-title {
    @include flex(center, center);
    background-color: $lightBlue;
    padding-top: clamp-calc(120, 185);
    padding-bottom: clamp-calc(120, 150);

    .banner-ctn {
        @include flex(center, center, column);
    }

    .banner-content-ctn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp-calc(45, 100, 992, 1750);

        .title-ctn {
            @include flex(flex-start, center, column);
 
            .ontitle-ctn {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .ontitle-number-ctn {
                    position: relative;
                    margin-right: 30px;
                    display: flex;
                }

                .ontitle-number-background {
                    width: 70px;
                    height: 80px;
                    object-fit: contain;
                }

                .ontitle-number {
                    @include responsive-font($primaryFont, 600, 35, 40, 42, 47);
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                }

                .ontitle-title {
                    @include responsive-font($primaryFont, 400, 25, 30, 35, 40);
                    margin: 0;
                }
            }
        
            .page-title {
                margin-bottom: clamp-calc(18, 60);
                font-size: clamp-calc(40, 86, 1200, 1700);
                line-height: clamp-calc(43, 80, 1200, 1700);
                text-transform: none;
            }

            .anchor {
                @include flex(center, flex-start);
                @include responsive-font($primaryFont, 500, 20, 22, 24, 26);

                i {
                    color: $blue;
                    margin-right: 15px;
                    position: relative;
                    left: 0;
                    @include transition($basicTransition);
                }

                &:hover {
                    i {
                        left: 8px;
                    }
                }
            }
        }

        .banner-image {
            min-height: 300px;
            width: 100%;
            object-fit: contain;
            position: relative;
            display: flex;
            align-self: center;

            &.-full-height {
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
            }
        }
    }

    @media(max-width: 767px) {

        .banner-content-ctn {
            @include flex(center, center, column-reverse);

            .title-ctn {
                @include flex(center, flex-start, column);
            
                .page-title {
                    text-align: center;
                }
    
                .anchor {
                    display: none;
                }
            }
        }
    }
}