.banner-content-title {

    .banner-content-ctn {
        padding-top: clamp-calc(120, 185);
        padding-bottom: clamp-calc(140, 200);
        background-color: $yellow;
        @include flex(center, center, column);

        .ontitle {
          @include responsive-font($primaryFont, 400, 28, 45, 36, 53);
          margin: 0;
        }

        .title-ctn {
            @include flex(center, center, column);
        }

        .page-title {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: center;
        }

        .gutenberg {
          margin-top: 40px;
          margin-bottom: 0;
          text-align: center;

          p {
            @include responsive-font($primaryFont, 400, 20, 26, 26, 36);
          }
        }
    }

    @keyframes draw {
        from {
          stroke-dashoffset: 1000;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
    
      path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: draw 1.2s 1s linear forwards;
      }
}