.banner-title-illustration {
    padding-top: clamp-calc(140, 185);
    padding-bottom: clamp-calc(40, 150, 375, 992);
    background-color: white;

    .banner-ctn {
        @include flex(center, center, column);
        position: relative;

        .banner-title {
            margin-top: 0;
            margin-bottom: clamp-calc(15, 30);
            text-align: center
        }
    
        .subtitle {
            @include responsive-font($primaryFont, 400, 25, 45, 30, 50, null, -0.03rem);
            margin: 0;
            text-align: center;
        }

        .left-illustration {
            position: absolute;
            top: clamp-calc(200, 300);
            left: clamp-calc(50, 100);
        }

        .right-illustration {
            position: absolute;
            top: 0;
            transform: translateY(-35%);
            right: 0;
            width: clamp-calc(130, 239, 767);
        }
    }

    @media(max-width: 767px) {
        .left-illustration,
        .right-illustration {
            display: none;
        }
    }
}