.basic-banner {

    .banner-content-ctn {
        padding-top: clamp-calc(140, 185);
        padding-bottom: clamp-calc(140, 200);
        background-color: $mint;
        @include flex(center, center, column);

        .title-ctn {
            @include flex(center, center, column);
        }

        .page-title {
            margin-bottom: clamp-calc(18, 35);
            text-align: center;
            text-transform: none;
        }
        
        .title-decoration {
            display: flex;

            svg {
                width: clamp-calc(160, 260, 375, 992);
            }
        }
    }

    .banner-image {
      width: 100%;
      min-height: 500px;
      object-fit: cover;
      border-radius: 50px;
      position: relative;
      margin-top: -50px;
    }
    
    path {
      stroke-dasharray: 1000;
      stroke-dashoffset: -1000;
      animation: draw 1.2s 1.8s linear forwards;
    }
}