.home-banner {
    padding-top: clamp-calc(160, 200);
    padding-bottom: 100px;
    gap: clamp-calc(20, 50);
    display: flex;

    .banner-left,
    .banner-right {
        width: 50%;
    }

    //***********************************//
    //********** LEFT COLUMN ************//
    //***********************************//

    .banner-left {
        @include flex(flex-start, space-between, column);
        gap: 40px;
    }

    .ontitle {
        @include responsive-font($primaryFont, 400, 28, 55, 47, 67, null, -0.02rem);
        margin-bottom: clamp-calc(15, 20);
        margin-top: clamp-calc(0, 50);

        span {
            font-weight: 400;
        }
    }

    .page-title {
        margin-top: 0;
        font-weight: 800;
        letter-spacing: -2px;
        font-size: clamp-calc(42, 94, 375);
        line-height: clamp-calc(46, 104);

        .style-mobile {
            &::after {
                display: none;
            }
        }

        span {
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                background-image: url('/assets/images/home-images/blue-text-highlight.svg');
                background-repeat: no-repeat;
                background-size: contain;
                right: 0;
                top: 0;
                transform: translate(90%, -50%);
                position: absolute;
                height: clamp-calc(32, 64);
                width: clamp-calc(35, 69);
            }
        }
    }

    .subtitle {
        @include responsive-font($secondaryFont, 400, 18, 20, 26, 26);
        max-width: 680px;
    }

    .defilate {
        position: relative;
        p {
            transform: translate(20px, 10px) rotate(-25deg);
            position: absolute;
            top: 5px;
            left: 35px;
            @include responsive-font($primaryFont, 400, 15, 15, 18, 18, null, -0.02rem);
        }
    }

    //***********************************//
    //********* RIGHT COLUMN ***********//
    //***********************************//

    .image-ctn {
        position: relative;

        .background-ctn {
            display: flex;
        }

        .slide-out {
            animation: slideOut 0.6s forwards ease-in !important;
        }

        .fade-out-absolute {
            animation: fade-out 0.6s forwards ease-in !important;
        }

        .fade-in-absolute {
            animation: fade-in 0.6s 0.6s forwards ease-in !important;
        }

        .slide-up {
            animation: slideUp 0.6s 0.7s forwards ease-in-out;
        }
      
        .banner-image-ctn {
            position: relative;
            @include flex(flex-start, center);
            margin: 0 auto;
            overflow: hidden;
            margin-left: auto;

            .placeholder-ctn {
                @include flex(flex-start, center);
                position: relative;
                opacity: 0;
            }

            .banner-placeholder {
                object-fit: contain;
                max-height: 100%;
                max-width: 100%;
                z-index: 2;
                max-height: 75vh;
            }

            .animation-images-ctn {
                position: absolute;
                @include position(0, 0, 0, 0);
                z-index: 10;
            }

            .banner-img {
                object-fit: contain;
                position: absolute;
                @include position(0, 0, 0, 0);
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 2;
            }

            //***************************************//
            //******** SET THE BEFORE COLOR *********//
            //***************************************//

            &::before {
                content: "";
                @include position(100px, 0, 0, 0);
                position: absolute;
                border-radius: 400px 400px 20px 20px;
                z-index: -1;
                @include transition($longTransition);
                background-color: $yellow;
            }

            &.-blue {
                &::before {
                    background-color: $lightBlue;
                }
            }

            &.-yellow {
                &::before {
                    background-color: $yellow;
                }
            }

            &.-mint {
                &::before {
                    background-color: $mint;
                }
            }

            &.-salmon {
                &::before {
                    background-color: $salmon;
                }
            }

            &.-purple {
                &::before {
                    background-color: $purpleLight;
                }
            }

            &.-darkGreen {
                &::before {
                    background-color: $darkGreen;
                }
            }

            //*******************************//
            //****** ABSOLUTE IMAGES ********//
            //*******************************//

            .overlay-image {
                position: absolute;
                opacity: 0;
                z-index: -1;

                // Thunder
                &.slide1-1 {
                    right: 10px;
                    top: 0;
                    width: clamp-calc(70, 100);
                    object-fit: contain;
                    transform: rotate(-174deg);
                }

                // Asterisque
                &.slide1-2 {
                    left: 20%;
                    top: 50%;
                    width: clamp-calc(22, 45);
                    object-fit: contain;
                }

                // Star
                &.slide2-1 {
                    right: 0;
                    top: 10%;
                    width: clamp-calc(80, 97);
                    object-fit: contain;
                }

                // Line
                &.slide2-2 {
                    left: -30px;
                    top: 15%;
                    width: clamp-calc(130, 200);
                    object-fit: contain;
                }

                // Line
                &.slide3-1 {
                    left: 0;
                    top: 10%;
                    width: clamp-calc(130, 150);
                    object-fit: contain;
                }

                // Asterisque
                &.slide3-2 {
                    right: 5%;
                    top: 80%;
                    width: clamp-calc(22, 45);
                    object-fit: contain;
                }

                // Line
                &.slide4-1 {
                    right: 0;
                    top: 20%;
                    width: clamp-calc(70, 135);
                    object-fit: contain;
                }

                // Asterisque
                &.slide4-2 {
                    left: 5%;
                    top: 40%;
                    width: clamp-calc(22, 45);
                    object-fit: contain;
                }

                // Line
                &.slide5-1 {
                    left: 0;
                    top: 7%;
                    width: clamp-calc(130, 220);
                    object-fit: contain;
                }

                // Asterisque
                &.slide5-2 {
                    right: 2%;
                    top: 70%;
                    width: clamp-calc(22, 45);
                    object-fit: contain;
                }
                // Star
                &.slide6-1 {
                    left: 0;
                    top: 20%;
                    width: clamp-calc(80, 97);
                    object-fit: contain;
                }

                // Line
                &.slide6-2 {
                    right: 0;
                    top: 25%;
                    width: clamp-calc(130, 150);
                    object-fit: contain;
                }
            }
        }
    }

    @media(max-width: 1024px) {

        .banner-left,
        .banner-right {
            width: 100%;
        }

        .ontitle {
            text-align: center;

            span {
                font-weight: 400;
            }
        }

        .page-title {
            text-align: center;
            padding:0 20px ;
        }

        .subtitle {
            text-align: center;
            margin: 0 auto;
        }

        .image-ctn {
            margin-top: 50px;
        }

        .defilate {
            display: none
        }
    }

    @media(max-width: 400px) {

        .page-title {
            .style-desktop {
                &::after {
                    display: none;
                }
            }
            .style-mobile {
                &::after {
                    display: block;
                }
            }
        }
    }
}