<div class="content-accordion-ctn js-accordion">
    <p class="title">{{ fields["title"] }}</p>
    <div class="inner">
        <div>
            {{fields["content"]}}
        </div>
    </div>
</div>