<div class="content-accordion-ctn js-accordion">
    <div class="title">
        <p>{{ fields.title }}</p>
        <i class="icon-plus plus"></i>
        <i class="icon-minus minus"></i>
  </div>
    <div class="inner">
        <div>
            {{fields["content"]}}
        </div>
    </div>
</div>