<div class="title-arrow">
    <h4 class="title">{{ fields.title }}</h4>
    <div class="image">
       <img src="{{ theme.link }}/assets/images/wavy-arrow.svg" alt="{{ __('Flèche vers le bas', 'ismees') }}"/>
    </div>
</div>