.breadcrumb-ctn {
    margin-bottom: 80px;

    span {
        @include fontSize(13px, 17px);
        font-family: $primaryFont;
        @include transition($basicTransition);
        color: rgba($darkBlue, 0.77);
        
        a {
            font-weight: 500;
            text-decoration: underline;
            opacity: 1;
            color: $darkBlue;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    i {
        color: rgba($darkBlue, 0.3);
        font-size: 10px;
        margin: 0 10px;
    }

    &.-reverse {
        #breadcrumbs {
            span, a {
                color: white;
            }
    
            i {
                color: rgba(white, 0.3);
            }
        }
    }
}