.footer-form {
    position: relative;
    @include transition($basicTransition);

    &.-show {

        .dropdown-form-button {
            
            .subscribe-button {
    
                i {
                    transform: rotate(270deg);
                }
            }
        }
    }

    .dropdown-form-button {
        max-width: clamp-calc(400, 777, 400, 1600);
        margin-left: auto;
        position: relative;
        min-height: 200px;
        @include flex();

        &::after {
            content: "";
            position: absolute;
            @include position(0, 0, 0, 0);
            background-image: url("/assets/images/form/ellipseBG.svg");
            background-repeat: no-repeat;
        }

        .form-image {
            position: absolute;
            top: -20px;
            left: 60px;
            z-index: 10;
            width: clamp-calc(175, 340, 375, 992);
        }
        
        .subscribe-button {
            cursor: pointer;
            @include responsive-font($primaryFont, 500, 22, 32, 26, 38);
            z-index: 10;
            margin-left: 50px;
            margin-top: 50px;
            display: flex;

            i {
                font-size: 20px;
                transform: rotate(90deg);
                margin-left: 15px;
                @include flex();
            }
        }
    }

    #subscriptionForm {
        @include transition($basicTransition);
        height: 0;
        position: relative;

        .container-style {
            background-color: $yellow;
            border-radius: 50px 0 0 0;
            @include transition($basicTransition);
            padding-top: clamp-calc(60, 100);
            padding-bottom: clamp-calc(150, 190);
            padding-right: clamp-calc(20, 75, 375, 992);
            padding-left: clamp-calc(20, 75, 375, 992);
            width: 100%;
        }

        .error {
            display: none;
            @include responsive-font($primaryFont, 500, 14, 14, 20, 20, null, null, red);
            position: absolute;
            left: 0;
            bottom: -30px;
        }

        .introduction {
            @include flex(center, space-between);
            margin-bottom: 40px;
            gap: clamp-calc(20, 40, 992);

            p {
                margin: 0;
                @include responsive-font($secondaryFont, 500, 20, 24, 28, 32);
            }

            .radio-ctn {
                gap: clamp-calc(20, 40, 992);
                @include flex(flex-start, flex-start);

                input[type="radio"] {
                    display: none;
                }

                .radio-circle {
                    display: inline-block;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    min-height: 20px;
                    border-radius: 50%;
                    position: relative;
                    background-color: white;
                }

                input[type="radio"]:checked + .radio-circle::before {
                    content: "";
                    display: block;
                    width: 10px;
                    min-width: 10px;
                    height: 10px;
                    min-height: 10px;
                    background-color: #482BD9;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                label {
                    @include responsive-font($primaryFont, 500, 16, 18, 18, 20);
                    @include flex(flex-start);
                    gap: 20px;
                }
            }
        }

        .inputs-ctn {
            gap: 20px;
            @include flex(center, space-between);

            .input {
                @include flex(flex-start, flex-start, column);
                position: relative;
                width: 100%;

                input {
                    background-color: white;
                    height: 60px;
                    width: 100%;
                    padding: 0 10px;
                    font-size: 16px;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    @include responsive-font($primaryFont, 400, 16, 18, 18, 20, null, null, $darkBlue);

                    &::placeholder {
                        @include responsive-font($primaryFont, 400, 16, 18, 18, 20);
                    }
                }
            }

            .main-button {
                white-space: nowrap;
            }
        }
    }

    .success-message {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 40px;
        text-align: center;
    }

    @media(max-width: 992px) {
        
        #subscriptionForm {

            .error {
                display: none;
                @include responsive-font($primaryFont, 500, 14, 14, 20, 20, null, null, red);
                position: absolute;
                left: 0;
                bottom: -25px;
            }

            .introduction {
                @include flex(flex-start, flex-start, column)
            }

            .inputs-ctn {
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 30px;

                .input {
                    width: calc(50% - 15px);
                }
            }
        }
    
    }

    @media(max-width: 767px) {

        &.-show {

            #subscriptionForm {

                .container-style {
                    border-radius: 0;
                }
            }
        }

        .dropdown-form-button {
    
            &::after {
                background-image: url("/assets/images/form/ellipseBG-alt.svg");
                background-size: cover;
            }
    
            .form-image {
                top: -10px;
                left: 40px;
            }

            .subscribe-button {
                margin-left: 0;
            }
        }

        #subscriptionForm {

            .inputs-ctn {
                .input {
                    width: 100%;
                }
            }
        }
    }

    @media(max-width: 400px) {

        .dropdown-form-button {
    
            &::after {
                background-image: url("/assets/images/form/ellipseBG-alternative.svg");
            }
        }

        #subscriptionForm {

            .container-style {
                border-radius: 0;
            }
        }
    }
}