body.customize-support {

    #header {
        top: 32px;
    }
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include transition($basicTransition);
    z-index: 5000;
    background-color: transparent;

    &.-white-background {
        background-color: white;
    }

    &.-not-sticky {

        &.-reverse-header {
            .logo-ctn {
                background-image: url('/assets/images/logo-white.svg');
            }
    
            #header-mobile {
                .burger-menu {
                    span {
                        background-color: white;
                    }
                }
            }
    
            .header-search {
                color: white;
            }
        }
    }    

    &.-sticky {
        position: fixed;
        background-color: white;

        #secondary-menu .header-cta a {
            border-radius: 8px;
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    #header-ctn,
    #header-mobile {
        @include flex(center, space-between);
        position: relative;
        min-height: 120px;
        padding-left: clamp-calc(15, 60);
        padding-right: clamp-calc(15, 60);
    }

    #header-ctn {
        gap: 155px;
    }

    #header-mobile {
        display: none;
    }

    .logo-ctn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 79px;
        width: 125px;
        background-image: url('/assets/images/logo.svg');

        a {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    .burger-menu {
        display: none;
    }

    #secondary-menu, 
    #primary-menu {
        width: 50%;
    }

    @media(max-width: 992px) {
        overflow: hidden;

        #secondary-menu, 
        #primary-menu {
            width: 100%;
        }

        #header-mobile {
            @include flex(center, space-between);

            .header-search {
                i {
                    font-size: 22px;
                }
            }
        }

        #secondary-menu .header-cta a {
            border-radius: 8px;
        }

        #header-ctn {
            gap: 0;
            padding-top: 70px;
            padding-bottom: 60px;
            position: fixed; 
            height: 100vh;
            width: 0;
            top: 0;
            left: -100vw;
            @include transition($basicTransition);
            background-color: white;
            @include flex(flex-start, flex-start, column);
            overflow: scroll;

            .logo-ctn {
                display: none;
            }
        }

        &.-open {
            overflow: visible;

            #header-ctn {
                left:0;
                width: 100vw;
            }
        }

        .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            min-height: 30px;
            cursor: pointer;
            @include transition($shortTransition);

            span {
                display: block;
                height: 3px;
                width: 30px;
                border-radius: 100px;
                background-color: $darkBlue;
                margin-bottom: 7px;
                @include transition($shortTransition);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.-closed {
                &:hover {
                    span {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.-opened {
                border-radius: 50%;
                margin-bottom: 50px;

                span {
                    margin-bottom: 0;
                }
                span:nth-child(1) {
                    transform: rotate(45deg);
                }
                span:nth-child(2) {
                    margin-top: -3px;
                    transform: rotate(-45deg);
                }
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    }

    @media(min-width: 993px) {

        &.-not-sticky {

            &.-reverse-header {

                #primary-menu {

                    .main-item {
                        &>a {
                            color: white;
    
                            i {
                                color: white;
                            }
                        }
    
                        &:hover > a {
                            color: rgba(white, 0.7);
                        }
                    }
                }
    
                #secondary-menu  {
    
                    .wpml, 
                    a {
                        color: white;
    
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }   
            }
        }
    }
}