.share-content {
    position: absolute;
    top: 0;
    right: clamp-calc(20, 50);
    height: 100%;
    
    .socials-share-ctn {
        @include flex(center, center, column);
        gap: 15px;
        position: sticky;
        top: 170px;
        right: 0;

        .share-label {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-transform: uppercase;
            @include fontSize(13px, 16px, 700);
            font-family: $primaryFont;
        }

        .list-ctn {
            @include flex(center, center, column);
            gap: 15px;

            a {
                display: flex;
                @include transition($basicTransition);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            i {
                font-size: clamp-calc(18, 24, 768, 992);
                color: $blue;
            }
        }
    }

    &.-block {
        position: initial;

        .socials-share-ctn {
            @include flex(flex-start, flex-start, column);
            gap: 20px;
            position: initial;
    
            .share-label {
                writing-mode: initial ;
                text-orientation: initial;
                text-transform: uppercase;
            }
    
            .list-ctn {
                @include flex(center, flex-start, row);
                gap: 20px;
            }
        }   
    }

    @media(max-width: 767px) {
        display: none;
    }
}