.title-arrow {
    display: flex;
    gap: 8px;
    margin-top: 100px;

    .title {
        @include responsive-font($primaryFont, 600, 20, 20, 28, 28, uppercase, null, $darkGreen);
        margin-bottom: 20px;
    }
}