.content-reviews {

    .reviews-back-ctn {
        padding-top: clamp-calc(30, 50);
        margin-top: clamp-calc(20, 80);
        @include flex(center, space-between);
        border-top: 2px solid rgba($darkBlue, 0.7);

        &.-align-right {
            justify-content: flex-end;
        }

        p {
            @include responsive-font($primaryFont, 600, 14, 16, 24, 24, null, null, rgba($darkBlue, 0.7));
            margin: 0;
        }

        .back-button {
            @include responsive-font($primaryFont, 600, 16, 18, 17, 19, null, null, $blue);
            display: flex;
            align-items: center;

            i {
                position: relative;
                color: $blue;
                margin-right: 15px;
                transform: rotate(180deg);
                left: 0;
                @include transition($basicTransition);
            }

            &:hover {
                i {
                    left: -8px;
                }
            }
        }
    }

    .reviews-ctn {
        @include flex(center, flex-start);
        gap: 20px;

        .likebtn-wrapper {
            height: 38px;
        }

        .likebtn-icon {
            transform: scale(1);
            @include transition($basicTransition);

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @media(max-width: 767px) {

        padding: 0;

        .reviews-back-ctn {
            @include flex(flex-start, flex-start, column);

            .reviews-ctn {
                width: 100%;
                padding-top: 30px;
                margin-top: 30px;
                border-top: 1px solid rgba($darkBlue, 0.3);
            }
        }
    }
}