{% extends 'base.twig' %}
{% block content %}
    <main class="page-activities">
        <div class="activities-banner">
            <div class="container-lg">
                <div class="banner-content-ctn">
                    {% include "partials/breadscrum.twig" with {
                        'reverseBreadscrum': true
                    }%}
                    <h1 class="page-title" data-aos="fade-up" data-aos-delay="300"><span class="bottom-decoration -red">{{__('Activités', 'ismees')}} </span> {{__('à venir', 'ismees')}}</h1>
                    <div class="gutenberg" data-aos="fade-up" data-aos-delay="300">{{ post.content }}</div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                {% for activity in activities %}
                    {% include "partials/cards/activity-card.twig" %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/activities.js"></script>
{% endblock %}