{% extends 'base.twig' %}
{% block content %}
<main class="page-content" data-aos="fade" data-aos-delay="300">
    {% include "partials/banners/basic-banner.twig" with {
        'post': page
    }%}
    <div class="page-content">
        <div class="container-lg">
            {% include "partials/socials-share.twig" with {
                'pageUrl': page.link
            }%}
            <div class="container-sm" data-aos="fade-up" data-aos-delay="300">
                <div class="gutenberg">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/page.js"></script>
{% endblock %}