{% extends 'base.twig' %}
{% block content %}
<main class="search-page" data-aos="fade" data-aos-delay="300">
    <div class="search-header" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <h1 class="page-title">{{ post.title }}</h1>
        </div>
    </div>
    <div class="container">
        {% include "/partials/ajax/search-filters.twig" with {
            'url': '/ajax/resources/all',
        } %}
    </div>
    {% include "partials/ajax/ajax-list.twig" with {
        'oneColumn': true,
        'items': resources
    } %}
</main>
{% endblock %}
{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/research.js"></script>
{% endblock %}