{% extends 'base.twig' %}
{% block content %}
<main class="single-subject" data-aos="fade" data-aos-delay="300">
    {% include "partials/banners/banner-image-title.twig" with {
            'post': subject,
            'anchor': "#resources"
        }
    %}
    <div class="page-content">
        <div class="container-lg">
            {% include "partials/socials-share.twig" with {
                'pageUrl': subject.link
            } %}
            <div class="container-sm" data-aos="fade-up" data-aos-delay="300">
                <div class="gutenberg">
                    {{ subject.content }}
                </div>
            </div>
        </div>
    </div>
    {% if subject.meta('resources') %}
        {% include "partials/more-resources.twig" with {
            'items': subject.meta('resources')
        } %}
    {% endif %}
</main>
{% endblock %}