{% extends 'base.twig' %}
{% block content %}
<main class="single-subject" data-aos="fade" data-aos-delay="300">
    {% include "partials/banners/banner-image-title.twig" with {
            'post': subject,
            'anchor': "#resources"
        }
    %}

    {% include "partials/page-content/content-reviews-socials.twig" with {
            'page': subject,
            'backBtnLink': options.config_subjects,
            'backBtnText': __('Retour aux sujets', 'ismees')
        } 
    %}
    
    {% include "partials/more-resources.twig" with {
        'items': subject.meta('resources'),
        'taxonomy': 'resource_category',
        'redirectionUrl': options.config_students_resources
    } %}
</main>
{% endblock %}

{# {% block addsearch_param %}
  <script id="addsearch-param">
    {{ addsearch_array|json_encode }}
  </script>
{% endblock %} #}