{% extends 'base.twig' %}
{% block content %}
<main class="single-resource" data-aos="fade" data-aos-delay="300">
    {% include "partials/banners/banner-image-title-author.twig" with {
            'post': post,
            'taxonomy': 'resource_student_type',
        }
    %}

    {% include "partials/page-content/content-details-reviews.twig" with {
            'page': post,
            'students': true,
            'backBtnLink': options.config_students_resources,
            'backBtnText': __('Retour aux ressources', 'ismees')
        }
    %}

    {% include "partials/more-resources.twig" with {
        'items': related_posts,
        'taxonomy': 'resource_student_type',
        'redirectionUrl': options.config_students_resources ~ '?category=' ~ main_category_id
    } %}
</main>
{% endblock %}

{# META FOR ADDSEARCH CUSTOM FIELDS #}
{% block addsearch_meta %}
    {% set meta_tags = {
        'page': 'research',
        'category_names': categories_addsearch_names,
        'category_ids': categories_addsearch_ids,
        'type_name': type_addsearch_name,
        'type_id': type_addsearch_id,
        'subject_names': subjects_addsearch_names,
        'subject_ids': subjects_addsearch_ids,
        'title': post.title,
        'icon': icon,
        'resource': 'student',
        'image': post.thumbnail
    } %}
    {% for tag, value in meta_tags %}
        {% if value %}
            {% if value is iterable %}
                {% set meta_content = [] %}
                {% for item in value %}
                    {% set meta_content = meta_content|merge([tag ~ "=" ~ item]) %}
                {% endfor %}
                <meta name="addsearch-custom-field" data-type="text" content="{{ meta_content|join(';') }}">
            {% else %}
                <meta name="addsearch-custom-field" data-type="text" content="{{ tag }}={{ value }}">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

