{% extends 'base.twig' %}
{% block content %}
<main class="single-resource" data-aos="fade" data-aos-delay="300">
    {% include "partials/banners/banner-image-title-author.twig" with {
            'post': post,
            'taxonomy': 'resource_category',
        }
    %}

    {% include "partials/page-content/content-details-reviews.twig" with {
            'page': post,
            'students': true,
            'backBtnLink': options.config_students_resources,
            'backBtnText': __('Retour aux ressources', 'ismees')
        }
    %}
    
    {% include "partials/more-resources.twig" with {
        'items': related_posts,
        'taxonomy': 'resource_category',
        'redirectionUrl': options.config_students_resources
    } %}
</main>
{% endblock %}

{% block addsearch_param %}
  <script id="addsearch-param">
    {{ addsearch_array|json_encode }}
  </script>
{% endblock %}

{% block head %}
    {% set meta_tags = {
        'category': categories,
        'type': types,
        'title': post.title,
        'content': post.content,
        'image': post.thumbnail
    } %}

    {{ parent() }}
{% endblock %}