{% extends 'base.twig' %}
{% block content %}
<main class="page-content" data-aos="fade" data-aos-delay="300">
    <div class="container-lg">
        {% include "partials/socials-share.twig" with {
            'pageUrl': page.link
        }%}
        <div class="container-sm" data-aos="fade-up" data-aos-delay="300">
            <div class="gutenberg">
                {{ page.content }}
            </div>
        </div>
    </div>
</main>
{% endblock %}