<div class="banner-title-subtitle-content">
    <div class="banner-content-ctn">
        <div class="container-lg">
            <div class="title-ctn">
                {% include "partials/breadscrum.twig" %}
                <h1 class="page-title" data-aos="fade-up" data-aos-delay="500">{{ post.title }}</h1>
                {% if subTitle %}
                    <p class="subTitle">{{ subTitle }}</p>
                {% endif %}
                {% if introduction %}
                    <div class="gutenberg">
                        {{ introduction }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>