<div class="basic-banner">
    <div class="banner-content-ctn">
        <div class="container-xxl">
            <div class="title-ctn">
                {% include "partials/breadscrum.twig" %}
                <h1 class="page-title" data-aos="fade-up" data-aos-delay="500">{{ post.title }}</h1>
                <div class="title-decoration">
                    <svg width="261" height="41" viewBox="0 0 261 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2,23.5508 C8.64041,19.4767 21.6658,4.43385 28.817,10.3883 C35.7128,16.3428 30.8602,37.6535 40.6931,35.7731 C52.9523,33.266 65.0839,10.0749 77.5985,14.149 C84.1112,16.3428 77.9816,38.2803 85.899,38.9071 C103.905,40.7874 120.378,13.5222 137.49,12.2687 C144.258,11.6419 138.511,38.5937 148.855,35.1464 C160.987,31.0722 175.161,7.25439 187.293,9.76153 C193.678,11.0151 190.868,24.8044 194.699,31.3856 C199.935,40.7874 210.534,35.1464 216.536,32.6392 C222.027,30.1321 262.125,-7.16168 258.805,4.12046" stroke="#FFE352" stroke-width="4" stroke-miterlimit="1.5" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    {% if post.thumbnail %}
        <img data-aos="fade-up" data-aos-delay="500" class="banner-image" src="{{ post.thumbnail }}" alt="{{ __('Image de', 'ismees') ~ post.title }}" />
    {% endif %}
</div>