<div class="basic-banner">
    <div class="banner-content-ctn">
        <div class="container-xxl">
            <div class="title-ctn">
                {% include "partials/breadscrum.twig" %}
                <h1 class="page-title" data-aos="fade-up" data-aos-delay="500">{{ post.title }}</h1>
                <div class="title-decoration">
                    <svg width="261" height="41" viewBox="0 0 261 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M258.805 4.12046C262.125 -7.16168 222.027 30.1321 216.536 32.6392C210.534 35.1464 199.935 40.7874 194.699 31.3856C190.868 24.8044 193.678 11.0151 187.293 9.76153C175.161 7.25439 160.987 31.0722 148.855 35.1464C138.511 38.5937 144.258 11.6419 137.49 12.2687C120.378 13.5222 103.905 40.7874 85.899 38.9071C77.9816 38.2803 84.1112 16.3428 77.5985 14.149C65.0839 10.0749 52.9523 33.266 40.6931 35.7731C30.8602 37.6535 35.7128 16.3428 28.817 10.3883C21.6658 4.43385 8.64041 19.4767 2 23.5508" stroke="#FFE352" stroke-width="4" stroke-miterlimit="1.5" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    {% if post.thumbnail %}
        <img data-aos="fade-up" data-aos-delay="500" class="banner-image" src="{{ post.thumbnail }}" alt="{{ __('Image de', 'ismees') ~ post.title }}" />
    {% endif %}
</div>