<div id="searchContainer" class="search-input-ctn">
    <div class="input-ctn">
        <input type="text" id="searchInput" placeholder="Recherche par nom">
        <span class="icon-MagnifyingGlass search-icon unfilled"></span>
        <span class="icon-cross search-icon filled"></span>
    </div>
    <ul id="searchResult">
    </ul>
</div>