<div id="searchContainer" class="search-input-ctn">
    <div class="input-ctn">
        <input type="text" id="searchInput" placeholder="Recherche par nom">
    </div>
    <ul id="searchResult">
    </ul>
</div>