// This function calculate the clamp() with pixel values but WIHOUT px.
// Here, the screen range is set by default between 375px and 1400px.
@function clamp-calc($min-value, $max-value, $min-width: 375, $max-width: 1400) {
  $min-value-rem: $min-value / 16;
  $max-value-rem: $max-value / 16;
  $slope: ($max-value - $min-value) / ($max-width - $min-width);
  $yAxisIntersection: $min-value-rem - $slope * ($min-width / 16);
  $slopeFinal: $slope * 100;
  $return-value: clamp(#{$min-value-rem}rem, #{$yAxisIntersection}rem + #{$slopeFinal}vw, #{$max-value-rem}rem);
  @return $return-value;
}

@mixin responsive-font($font-family, $font-style, $font-weight, $min-font-size, $max-font-size, $min-line-height, $max-line-height, $text-transform: null, $letter-spacing: null, $color: $darkBlue, $min-width: 375, $max-width: 1400) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: clamp-calc($min-font-size, $max-font-size, $min-width, $max-width);
  line-height: clamp-calc($min-line-height, $max-line-height, $min-width, $max-width);
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
  color: $color;
}

// transition
@mixin transition($transition) {
  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

// transform
@mixin transform($transform) {
  transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
}

// animation
@mixin animation($animation) {
  animation: #{$animation};   
  -o-animation: #{$animation};
  -moz-animation: #{$animation};
  -webkit-animation: #{$animation};
}

// Keyframes
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin fontSize($size, $line-height: auto) {
  font-size: #{$size}px; //Fallback in px
  font-size: calculateRem($size);

  @if($line-height != auto){
    line-height: #{$line-height}px;
    line-height: calculateRem($line-height);
  }
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}