// Colors
$blue: #4E61F3;
$darkBlue: #242457;
$yellow: #FFE352;
$lightBlue: #9EB2D9;
$paleBlue: #E1EEFD;


$salmon: #FF9594;
$mint: #72CBA6;
$darkGreen: #285F5E;
$purple: #7D2D63;
$purpleLight: #7C72B2;

$mainBG: #F4F2EB;
$secondaryBG: #E2E8F4;

$titleColor: $darkBlue;
$textColor: $darkBlue;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primaryFont: 'Rubik', Helvetica, Arial, sans-serif;
$secondaryFont: 'Karla', Helvetica, Arial, sans-serif;


//Transitions
$longTransition: all 0.5s ease;
$basicTransition: all 0.4s ease;
$shortTransition: all 0.2s ease;

//Responsive
$tablet-large: 992px;
$tablet: 768px;
$mobile: 425px;
$xs-mobile: 320px;