{% if page.content %}
<div class="content-reviews-socials">
    <div class="container-xxl">
        {% include "partials/socials/socials-share.twig" with {
            'pageUrl': page.link
        } %}
        {% include "partials/page-content/content-reviews.twig" with {
            'backButton': true
        } %}
    </div>
</div>
{% endif %}