{% if page.content %}
<div class="page-content content-reviews-socials">
    <div class="container-lg">
        {% include "partials/socials/socials-share.twig" with {
            'pageUrl': page.link
        } %}
        {% include "partials/page-content/content-reviews.twig" %}
    </div>
</div>
{% endif %}